extends ../components/base/layout

block variables
  - const title = "VRNas - About Us" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = "wrapper--middle-grid"
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "about-us.html"
  -
    const breadcrumbsData = [
      {
        text: "Home",
        href: "index.html",
      },
      {
        text: "About us",
        href: false,
      },
    ]

block main
  main
    +page-title("About Us", breadcrumbsData)
    +about-us(aboutUsPageAboutData, pageSectionOptions = {mods: ['top'], inner: false, attr: {'data-top-block': ''}})
    +our-service(aboutUsOurServiceData, shortServiceList)
    +advantages(aboutUsPageAdvantagesData)
    +team()
    +partners()
    +subscribe-box()
