extends ../components/base/layout

block variables
  - const title = "VRNas - Blog Page" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = "wrapper--common"
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "blog.html"

block main
  main

block modals
