extends ../components/base/layout

block variables
  - const title = "VRNas - Blog Page" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "blog.html"
  -
    const breadcrumbsData = [
      {
        text: "Home",
        href: "index.html",
      },
      {
        text: "Blog",
        href: "#",
      },
      {
        text: "Bringing Designs to Life: How VR is Changing Architecture",
        href: false,
      },
    ]

block main
  main
    +blog-item(breadcrumbsData)
    .page-section(data-section-animation, data-start="top bottom", data-end="top center")
      .page-section__inner(data-animation="y: 0", data-animation-direction="to")
        +subscribe-box()

block modals
