extends ../components/base/layout

block variables
  - const title = "VRNas - Homepage" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = "wrapper--upper-grid"
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +intro()
    +about-us(homePageAboutData, pageSectionOptions = {mods: ['upper']})
    +our-service(homePageOurServiceData, serviceList)
    +advantages(homePageAdvantagesData)
    +video-review()
    +pricing()
    +partners()
    +subscribe-box()

block modals
