extends ../components/base/layout

block variables
  - const title = "UI-kit"

block main
  style
    include ../../sass/inline/uikit.css
    include ../../sass/inline/prism.css

  main
    .uikit
      //----------------------- Components
      .uikit__sections(data-scroll-lock-fill-gap)
        label(for="section-burger")
          span Components
        input.visually-hidden(type="checkbox", checked, id="section-burger")
        div
          ul
            li
              a(href="#modals") Logo
            li
              a(href="#buttons") Buttons
            li
              a(href="#titles") Buttons
            li
              a(href="#forms") Form elements

      //----------------------------------------------
      .container
        a.uikit__header-link(href="sitemap.html")
          +img("content", "logo", "png", "202", "60", "Logo")
        h1.uikit__h1 Project components

        section.uikit__section
          h2.uikit__h2 Name of a component or group of components
          p.uikit__text About component (hints \ note \ info)
          .uikit__component
            p.uikit__text  Component class \ mods
            pre
              |
              code(class="language-pug").
                p Code example

        //- Logo
        section.uikit__section(id="logo")
          h2.uikit__h2 Logo
          .uikit__component
            p.uikit__text.uikit__text--class .logo (default)
            .bg-gradient
              +logo()
            pre
              |
              code(class="language-pug").
                +logo()

        //- Buttons
        section.uikit__section(id="buttons")
          h2.uikit__h2 Buttons
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ default \ button
            +btn({text: "Button"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст"})
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ link \ button
            +btn({text: "Text", href: "#", isExternal: true})(aria-label="Link")
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст", href: "#", isExternal: true})(aria-label="Просто ссылка").btn--red
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ link \ button \ small
            +btn({text: "Text", mods: ["small"]})
            pre
              |
              code(class="language-pug").
                +btn({text: "Text", mods: ["small"]})
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ link \ button \ transparent
            +btn({text: "Text", mods: ["transparent"]})
            pre
              |
              code(class="language-pug").
                +btn({text: "Text", mods: ["transparent"]})
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ link \ button \ small \ transparent
            +btn({text: "Text", mods: ["small", "transparent"]})
            pre
              |
              code(class="language-pug").
                +btn({text: "Text", mods: ["small", "transparent"]})
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ disabled \ button
            +btn({text: "Text"})(disabled)
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст"})(disabled)

        //- Buttons
        section.uikit__section(id="titles")
          h2.uikit__h2 Titles
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h1
            +title({tag: "h1", mods: ["h1"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h1", mods: ["h1"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h2
            +title({tag: "h2", mods: ["h2"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h2", mods: ["h2"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h3
            +title({tag: "h3", mods: ["h3"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h3", mods: ["h3"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h4
            +title({tag: "h4", mods: ["h4"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h4", mods: ["h4"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h5
            +title({tag: "h5", mods: ["h5"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h5", mods: ["h5"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h6
            +title({tag: "h6", mods: ["h6"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h6", mods: ["h6"], text: "Title"})

        //- Элементы форм
        section.uikit__section(id="forms")
          h2.uikit__h2 Form elements
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="text"
            +custom-input({
              inputLabel: "Введите ваше имя",
              inputName: "user-name-1",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputLabel: "Введите ваше имя",
                  inputName: "user-name-1",
                })
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="tel"
            +custom-input({
              inputType: "tel",
              inputLabel: "Введите номер телефона",
              inputName: "user-phone",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputType: "tel",
                  inputLabel: "Введите номер телефона",
                  inputName: "user-phone",
                })
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="email"
            +custom-input({
              inputType: "email",
              inputLabel: "Введите вашу почту",
              inputName: "user-mail",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputType: "email",
                  inputLabel: "Введите вашу почту",
                  inputName: "user-mail",
                })
          .uikit__component
            p.uikit__text.uikit__text--class +custom-textarea \ default
            +custom-textarea({
              inputLabel: "Расскажите о себе",
              inputName: "user-info"
            })
            pre
              |
              code(class="language-pug").
                +custom-textarea({
                  inputLabel: "Расскажите о себе",
                  inputName: "user-info"
                })
          .uikit__component
            p.uikit__text.uikit__text--class +custom-toggle \ default
            +custom-toggle({
              inputLabel: "Чекбокс",
              inputName: "user-agreement",
              inputValue: "user-agreement-1",
              inputChecked: false
            }).custom-toggle--checkbox
            pre
              |
              code(class="language-pug").
                +custom-toggle({
                  inputLabel: "Чекбокс",
                  inputName: "user-agreement",
                  inputValue: "user-agreement-1",
                  inputChecked: false
                }).custom-toggle--checkbox


          .uikit__component
            p.uikit__text Базовый селект c placeholder
            p.uikit__text.uikit__text--class +custom-select \ default
            +custom-select({
              placeholder: "Выберите одну из опций",
              error: "Выберите тему обращения",
              optionsList: [{text: "Тема 1", value: "id-1"}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]
            })(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-1").custom-select
            pre
              |
              code(class="language-pug").
                +custom-select({
                  placeholder: "Выберите одну из опций",
                  error: "Выберите тему обращения",
                  optionsList: [{text: "Тема 1", value: "id-1"}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]
                })(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-1").custom-select


  script
    include ../../js/inline/ui-kit.js

block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-success()
