extends ../components/base/layout

block variables
  - const title = "UI-kit"

block main
  style
    include ../../sass/inline/uikit.css
    include ../../sass/inline/prism.css

  main
    .uikit
      //----------------------- Components
      .uikit__sections(data-scroll-lock-fill-gap)
        label(for="section-burger")
          span Components
        input.visually-hidden(type="checkbox", checked, id="section-burger")
        div
          ul
            li
              a(href="#logo") Logo
            li
              a(href="#buttons") Buttons
            li
              a(href="#titles") Titles
            li
              a(href="#badges") Badges
            li
              a(href="#form") Subscribe form
            li
              a(href="#video") Video
            li
              a(href="#socials") Socials

      //----------------------------------------------
      .container
        a.uikit__header-link(href="sitemap.html")
          +img("content", "logo", "png", "202", "60", "Logo")
        h1.uikit__h1 Project components

        section.uikit__section
          h2.uikit__h2 Name of a component or group of components
          p.uikit__text About component (hints \ note \ info)
          .uikit__component
            p.uikit__text  Component class \ mods
            pre
              |
              code(class="language-pug").
                p Code example

        //- Logo
        section.uikit__section(id="logo")
          h2.uikit__h2 Logo
          .uikit__component
            p.uikit__text.uikit__text--class .logo (default)
            .bg-gradient
              +logo()
            pre
              |
              code(class="language-pug").
                +logo()

        //- Buttons
        section.uikit__section(id="buttons")
          h2.uikit__h2 Buttons
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ default \ button
            +btn({text: "Button"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст"})
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ link \ button
            +btn({text: "Text", href: "#", isExternal: true})(aria-label="Link")
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст", href: "#", isExternal: true})(aria-label="Просто ссылка").btn--red
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ link \ button \ small
            +btn({text: "Text", mods: ["small"]})
            pre
              |
              code(class="language-pug").
                +btn({text: "Text", mods: ["small"]})
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ link \ button \ transparent
            +btn({text: "Text", mods: ["transparent"]})
            pre
              |
              code(class="language-pug").
                +btn({text: "Text", mods: ["transparent"]})
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ link \ button \ small \ transparent
            +btn({text: "Text", mods: ["small", "transparent"]})
            pre
              |
              code(class="language-pug").
                +btn({text: "Text", mods: ["small", "transparent"]})
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ disabled \ button
            +btn({text: "Text"})(disabled)
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст"})(disabled)

        //- Buttons
        section.uikit__section(id="titles")
          h2.uikit__h2 Titles
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h1
            +title({tag: "h1", mods: ["h1"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h1", mods: ["h1"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h2
            +title({tag: "h2", mods: ["h2"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h2", mods: ["h2"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--mini
            +title({tag: "h2", mods: ["mini"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h2", mods: ["mini"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h3
            +title({tag: "h3", mods: ["h3"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h3", mods: ["h3"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h4
            +title({tag: "h4", mods: ["h4"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h4", mods: ["h4"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h5
            +title({tag: "h5", mods: ["h5"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h5", mods: ["h5"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h6
            +title({tag: "h6", mods: ["h6"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h6", mods: ["h6"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h6
            +title({tag: "h6", mods: ["h7"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h6", mods: ["h7"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h4
            +title({tag: "h6", mods: ["h8"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h6", mods: ["h8"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h5
            +title({tag: "h6", mods: ["h9"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h6", mods: ["h9"], text: "Title"})
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h6
            +title({tag: "h6", mods: ["h10"], text: "Title"})
            pre
              |
              code(class="language-pug").
                +title({tag: "h6", mods: ["h10"], text: "Title"})

        //- Budges
        section.uikit__section(id="badges")
          h2.uikit__h2 Badges
          .uikit__component
            p.uikit__text.uikit__text--class .badge
            +badge({text: "#sometag"})
            pre
              |
              code(class="language-pug").
                +badges({text: "#sometag"})
          .uikit__component
            p.uikit__text.uikit__text--class a.badge
            +badge({href: "#", text: "#sometag"})
            pre
              |
              code(class="language-pug").
                +badges({href: "#", text: "#sometag"})
          .uikit__component
            p.uikit__text.uikit__text--class badge--big
            +badge({text: "#populartag", big: true})
            pre
              |
              code(class="language-pug").
                +badges({text: "#populartag", big: true})

        //-  Subscribe form
        section.uikit__section(id="form")
          h2.uikit__h2 Subscribe form
          .uikit__component
            p.uikit__text.uikit__text--class .subscribe-form
            .bg-gradient
              +subscribe-form()
            pre
              |
              code(class="language-pug").
                +subscribe-form()

        //-  Video
        section.uikit__section(id="video")
          h2.uikit__h2 Video
          .uikit__component
            p.uikit__text.uikit__text--class .video
            +video({
              videoTitle: "How to get started",
              badgeTest: "VR Service",
              videoFile: "video.mp4",
              videoType: "video/mp4",
              posterfile: "video-poster.jpg",
            })
            pre
              |
              code(class="language-pug").
                +video({
                  videoTitle: "How to get started",
                  badgeTest: "VR Service",
                  videoFile: "video/video.mp4",
                  videoType: "video/mp4",
                  posterfile: "video-poster.jpg",
                })

        //-  Subscribe form
        section.uikit__section(id="socials")
          h2.uikit__h2 Socials
          .uikit__component
            p.uikit__text.uikit__text--class .socials
            .bg-gradient
              +socials([
                {iconName: "icon-tw", href: "#/", label: "Twitter"},
                {iconName: "icon-fb",href: "#/", label: "Facebook"},
                {iconName: "icon-ig", href: "#/", label: "Instagram"},
                {iconName: "icon-gh", href: "#/", label: "GitHub"},
              ])
            pre
              |
              code(class="language-pug").
                +socials([
                  {iconName: "icon-tw", href: "#/", label: "Twitter"},
                  {iconName: "icon-fb",href: "#/", label: "Facebook"},
                  {iconName: "icon-ig", href: "#/", label: "Instagram"},
                  {iconName: "icon-gh", href: "#/", label: "GitHub"},
                ])

  script
    include ../../js/inline/ui-kit.js
