mixin services(list, united = false)
  .services(class=united ? "services--united" : "")
    ul.services__list(class= united ? null : "services__list--cards")
      each item in list
        li.services__item
          .services__icon-box
            +icon(item.icon, 70, 70, true)
          .services__content-wrapper
            +title({tag: "h3", text: item.title, mods: ["h7"]}).services__title
            .services__content-text
              p!= item.text
          if !united
            .services__button-wrapper
              +btn({text: "Learn more", mods: ["transparent"]}).services__button

