mixin video()
  section.video
    .container
      .video__inner
        +title({tag: "h2", text: "How to get started", mods: ["mini"]}).video__title
        +title({text: "Bringing Your Virtual Reality<br>Dreams to Life", mods: ["h2"]}).video__subtitle
        .video__screen-block
          video(class="video-js" id="video")
            source(src="video/video.mp4" type="video/mp4")
          //- .video__control-box
          //-   p VR Service
          //-   +title({tag: "h3", text: "How to get started", mods: ["h4"]}).video__control-box
          //-   button.video__play-btn(type="button")
        +btn({text: "Get started"})



