.about-us {
  transform: none;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 612px;

    @include vp-767 {
      display: flex;
      flex-direction: column;
    }
  }

  // Illustration
  // ========================================>

  &__illustration-box {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include vp-767 {
      margin-bottom: 16px;
    }
  }

  // Content side
  // ========================================>

  &__content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 22px;
    z-index: 3;

    @include vp-1023 {
      padding-top: 0;
    }

    @include vp-767 {
      padding-left: 0;
    }
  }

  &__title,
  &__subtitle {
    margin-bottom: 12px;
  }

  &__text {
    max-width: 530px;
    margin-bottom: 24px;
    color: $color-gray-2;
  }

  &__text p {
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
  }

  &__technology-list {
    display: flex;
    flex-direction: column;
    margin: 0 0 34px 0;
    padding: 0;
    list-style: none;
  }

  &__technology-item {
    display: flex;
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__checkbox-wrapper {
    width: 16px;
    height: 16px;
    margin-top: 2px;
  }

  &__checkbox-wrapper svg {
    width: 16px;
    height: 16px;
  }

  &__technology-item-text p {
    margin: 0 0 0 12px;
  }

  &__btn {
    margin-bottom: 15px;

    @include vp-767 {
      margin-bottom: 4px;
    }
  }
}

// Mod: Reflected
// ========================================>

.about-us--reflected {
  .about-us__inner {
    grid-template-columns: 52% 1fr;
    gap: 50px;
    min-height: 607px;

    @include vp-1023 {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      min-height: unset;
    }

    @include vp-767 {
      gap: unset;
    }
  }

  .about-us__illustration-box {
    order: 2;

    @include vp-767 {
      margin-bottom: 26px;
    }
  }

  .about-us__content-box {
    order: 1;
    padding-top: 40px;
    padding-left: 0;

    @include vp-1023 {
      padding-top: 0;
    }
  }

  .about-us__subtitle {
    margin-bottom: 16px;

    @include vp-767 {
      margin-bottom: 18px;
    }
  }

  .about-us__text {
    max-width: unset;

    @include vp-767 {
      margin-bottom: 40px;
    }
  }
}
