.advantages {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 74px;

    @include vp-1023 {
      gap: 30px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: unset;
    }
  }

  // Content side
  // ========================================>

  &__content-box {
    display: flex;
    flex-direction: column;

    @include vp-767 {
      order: 2;
    }
  }

  &__title {
    align-self: flex-start;
    margin-bottom: 12px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__accordion-element {
    display: flex;
    flex-direction: column;
  }

  &__accordion-button {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 50px;
    padding: 0 30px 0 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba($color-default-white, 0.35);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    color: $color-default-white;
    outline: none;
    cursor: pointer;
    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__accordion-button svg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform $trans-default;
  }

  &__accordion-element.is-active svg {
    transform: translateY(-50%) rotate(180deg);
  }

  &__accordion-wrapper {
    color: $color-gray-2;
  }

  &__accordion-wrapper p {
    margin: 12px 0 36px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }

  // Illustration
  // ========================================>

  &__illustration-box {
    position: relative;

    @include vp-767 {
      order: 1;
      margin-bottom: 75px;
    }
  }

  // Mod: Reflected
  // ========================================>

  &--reflected {
    .advantages__inner {
      gap: 20px;
    }

    .advantages__content-box {
      order: 2;
      padding-top: 67px;
      padding-right: 42px;

      @include vp-767 {
        padding: 0;
      }
    }

    .advantages__illustration-box {
      order: 1;
      margin-bottom: 52px;
    }
  }
}
