.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__badge {
    margin-bottom: 14px;

    @include vp-1023 {
      margin-bottom: 12px;
    }
  }

  &__title {
    margin-bottom: 12px;

    @include vp-1023 {
      margin-bottom: 16px;
      font-size: 32px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.16px;
    }
  }

  &__publication-data p {
    margin-top: 0;
    margin-bottom: 20px;
    background: $purple-to-blue;
    text-transform: uppercase;
    letter-spacing: 2.24px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__picture {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 67%;

    @include vp-1023 {
      margin-bottom: 24px;
    }

    &--left,
    &--right {
      margin-bottom: 0;
    }
  }

  &__picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & > p {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color: $color-gray-2;
  }

  &__picture-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 34px;
    width: 100%;
    margin-top: 56px;
    margin-bottom: 80px;

    @include vp-1023 {
      gap: 20px;
      margin-top: 8px;
      margin-bottom: 32px;
    }
  }

  &__list-title {
    margin-bottom: 12px;
  }

  &__tag-list {
    margin: 0 0 17px 0;
    padding: 0;
    list-style: none;
    background: $purple-to-blue;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include vp-1023 {
      margin-bottom: 23px;
    }
  }

  &__tag {
    display: inline;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
  }
}
