.btn {
  display: inline-flex;
  padding: 18px 38px;
  background: $purple-to-blue;
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1.5px;
  color: $color-default-white;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity $trans-default;

  &--transparent {
    padding: 17px 37px;
    background: unset;
    background-color: transparent;
    border: 1px solid transparent;
    border-image: $purple-to-blue;
    border-image-slice: 1;
  }

  &--small {
    padding: 11px 23px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: unset;
    text-transform: none;
  }

  &--burger {
    position: relative;
    display: flex;
    min-width: 32px;
    min-height: 32px;
    padding: 11px 10px;
    transition: border-image $trans-default, border-image-slice $trans-default;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: -2px;
      display: block;
      width: 35px;
      height: 1px;
      background: $purple-to-blue;
      transition: opacity $trans-default;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    svg {
      transition: opacity $trans-default;
    }

    &[aria-pressed="true"] {
      border-image: unset;
      border-image-slice: unset;

      svg {
        opacity: 0;
      }
    }

    &[aria-pressed="false"] {
      &::before,
      &::after {
        opacity: 0;
      }
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
