// Main styles
// ===================================================>

.parallax {
  position: relative;
  width: 100%;

  @include vp-767 {
    display: flex;
    justify-content: center;
    width: auto;
    padding-top: 0;
  }

  @include vp-429 {
    justify-content: unset;
    height: unset;
    padding-bottom: 0;
  }

  .parallax__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__bg,
  &__bg-light {
    position: absolute;
  }

  &__bg {
    background-color: $color-grayscale-black-50;
  }

  &__bg-light {
    z-index: 1;
  }

  &__bg-light svg {
    width: 100%;
    height: 100%;
    fill: linear-gradient(99deg, rgba($color-deep-sky-blue, 0.5) 0.72%, rgba($color-pink-flamingo, 0.5) 90.69%);
    filter: blur(105px);
  }

  &__illustration-wrapper {
    position: absolute;
    z-index: 2;
    line-height: 0;
  }

  &__illustration-wrapper img {
    @include vp-767 {
      object-fit: cover;
    }

    @include vp-429 {
      width: 100%;
      height: 100%;
    }
  }

  &__extra-pic {
    position: absolute;
    z-index: 4;
    width: 196px;
    height: 128px;

    @include vp-429 {
      right: 0;
      left: unset;
    }
  }

  &__extra-pic img {
    width: 100%;
    height: 100%;
  }

  // Section "About Us". Left Side.
  // ===================================================>

  &--about-us-left {
    width: 82%;
    padding-top: 99%;

    @include vp-767 {
      width: 100%;
      height: 467px;
      margin-bottom: 48px;
      padding-top: 0;
    }

    @include vp-429 {
      height: unset;
      padding-top: 119%;
    }

    .parallax__inner {
      @include vp-767 {
        left: 50%;
        width: 390px;
        transform: translateX(-50%);
      }

      @include vp-429 {
        left: 0;
        width: 100%;
        transform: none;
      }
    }

    .parallax__bg {
      bottom: 0;
      left: 0;
      width: 81%;
      height: 84%;

      @include vp-1023 {
        top: unset;
      }

      @include vp-767 {
        width: 300px;
        height: 373px;
      }

      @include vp-429 {
        width: 75.3%;
        height: 80%;
      }
    }

    .parallax__bg-light {
      top: -11%;
      left: -8%;
      width: 180%;
      height: 132%;

      @include vp-1023 {
        top: -50px;
        left: -160px;
        width: 700px;
        height: 620px;
      }

      @include vp-767 {
        left: 50%;
        width: 600px;
        height: 532px;
        transform: translateX(-35%);
      }
    }

    .parallax__bg-light svg {
      @include vp-1023 {
        width: 700px;
        height: 620px;
      }

      @include vp-767 {
        width: 600px;
        height: 532px;
      }
    }

    .parallax__illustration-wrapper {
      bottom: 0;
      left: 24px;
      width: 105%;
      height: 105%;

      @include vp-767 {
        left: 17px;
        width: 100%;
        height: 100%;
      }

      @include vp-429 {
        left: 0;
      }
    }

    .parallax__illustration-wrapper img {
      width: 100%;
      height: 100%;
    }

    .parallax__extra-pic {
      bottom: -23px;
      right: -35px;

      @include vp-1023 {
        width: 147px;
        height: 96px;
      }

      @include vp-767 {
        bottom: -17px;
        right: 0;
      }
    }
  }

  // Section "About Us". Right Side.
  // ===================================================>

  &--about-us-right {
    width: 94.5%;
    padding-top: 109.1%;

    @include vp-767 {
      width: 100%;
      height: 453px;
      padding-top: 0;
    }

    @include vp-429 {
      height: unset;
      padding-top: 114%;
    }

    .parallax__inner {
      @include vp-767 {
        left: 50%;
        width: 315px;
        transform: translateX(-50%);
      }

      @include vp-429 {
        left: 0;
        width: 100%;
        transform: none;
      }
    }

    .parallax__bg {
      bottom: 0;
      right: 0;
      width: 80.5%;
      height: 86.7%;

      @include vp-767 {
        right: -41px;
        width: 315px;
        height: 393px;
      }

      @include vp-429 {
        right: 0;
        width: 80.5%;
        height: 86.7%;
      }
    }

    .parallax__bg-light {
      top: 50%;
      left: 50%;
      width: 178%;
      height: 137%;
      transform: translate(-30%, -50%);
    }

    .parallax__illustration-wrapper {
      right: 18px;
      width: 80.2%;
      height: 100%;

      @include vp-767 {
        right: -25px;
        width: 100%;
      }

      @include vp-429 {
        left: 50%;
        right: unset;
        width: 80.2%;
        transform: translateX(-50%);
      }
    }

    .parallax__illustration-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .parallax__extra-pic {
      bottom: -33px;
      left: 0;

      @include vp-767 {
        bottom: -25px;
        left: -42px;
        width: 154px;
        height: 101px;
      }

      @include vp-429 {
        left: 0;
      }
    }
  }

  // Section "Why Choose Us". Right Side.
  // ===================================================>

  &--advantages-right {
    padding-top: 117.6%;

    @include vp-767 {
      height: 467px;
      padding-top: 0;
    }

    @include vp-429 {
      height: unset;
      padding-top: 118%;
    }

    .parallax__inner {
      @include vp-767 {
        left: 50%;
        width: 397px;
        transform: translateX(-50%);
      }

      @include vp-429 {
        left: 0;
        width: 100%;
        transform: none;
      }
    }

    .parallax__bg {
      bottom: 0;
      left: 25.5%;
      width: calc(100% / 3 * 2);
      height: 75%;

      @include vp-767 {
        left: 50%;
        width: 300px;
        height: 369px;
        transform: translateX(-56%);
      }

      @include vp-429 {
        width: 75.3%;
        height: 75%;
      }
    }

    .parallax__bg-light {
      top: 0%;
      left: -15%;
      width: 148.6%;
      height: 118.6%;
    }

    .parallax__illustration-wrapper {
      top: 0;
      left: 15%;
      width: 100%;
      height: 100%;
      overflow: visible;

      @include vp-767 {
        top: unset;
        bottom: 0;
        // left: -50%;
        left: 0;
        width: 105.5%;
        height: 105.5%;
        // transform: translateX(-50%);
      }

      @include vp-429 {
        width: 100%;
        height: 100%;
      }
    }

    .parallax__illustration-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .parallax__extra-pic {
      bottom: -37px;
      right: 0;
      width: 196px;
      height: 128px;

      @include vp-1023 {
        width: 145px;
        height: 95px;
      }

      @include vp-767 {
        bottom: -28px;
        left: 50%;
        right: unset;
      }
    }
  }

  // Section "Why Choose Us". Left Side.
  // ===================================================>

  &--advantages-left {
    width: 84.8%;
    padding-top: 97.3%;

    @include vp-767 {
      width: 100%;
      height: 457px;
      padding-top: 0;
    }

    @include vp-429 {
      width: 100%;
      height: unset;
      padding-top: 115%;
    }

    .parallax__inner {
      @include vp-767 {
        left: 50%;
        width: 398px;
        transform: translateX(-50%);
      }

      @include vp-429 {
        width: 100%;
        height: 100%;
        left: 0;
        transform: none;
      }
    }

    .parallax__illustration-wrapper {
      bottom: 0;
      left: 30px;

      @include vp-767 {
        left: -2px;
        width: 103%;
        height: 103%;
      }

      @include vp-429 {
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .parallax__bg {
      bottom: 0;
      left: 50%;
      width: 80%;
      height: 86.5%;
      transform: translateX(-51%);

      @include vp-767 {
        width: 325px;
        height: 405px;
        transform: translateX(-58%);
      }

      @include vp-429 {
        width: 82%;
        height: 88.7%;
      }
    }

    .parallax__bg-light {
      top: 0%;
      left: -15%;
      width: 177%;
      height: 137%;
    }

    .parallax__extra-pic {
      bottom: -52px;
      right: -14px;

      @include vp-767 {
        bottom: -42px;
        right: 5px;
      }

      @include vp-429 {
        right: 0;
        width: 160px;
        height: 104px;
      }
    }
  }
}
