.socials {
  @include vp-429 {
    width: 100%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    @include vp-429 {
      display: grid;
      grid-template-columns: repeat(auto-fill, 46px);
      gap: 20px;
    }
  }

  &__item,
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__item {
    width: 46px;
    height: 46px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: $purple-to-blue;
    transition: opacity $trans-default;

    &:last-child {
      margin-right: 0;
    }

    @include vp-429 {
      margin: 0;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__item svg {
    width: 22px;
    height: 22px;
  }

  &__link {
    width: 44px;
    height: 44px;
    background-color: $color-grayscale-black-100;
  }

  &--without-border {
    align-items: center;

    .socials__item {
      width: unset;
      height: unset;
      border: none;
      background: transparent;
      margin-right: 16px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    .socials__item svg {
      width: auto;
      height: 100%;
    }

    .socials__link {
      width: auto;
      height: 22px;
    }
  }
}
