.title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $ff-chakra;
  font-style: normal;
  color: inherit;

  &--h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: normal;

    @include vp-1023 {
      font-size: 48px;
      line-height: 58px;
    }
  }

  &--h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;

    @include vp-1023 {
      font-size: 32px;
      font-weight: 600;
      line-height: normal;
    }
  }

  &--h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 58px;

    @include vp-1023 {
      font-size: 28px;
      font-weight: 600;
      line-height: normal;
    }
  }

  &--h4 {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;

    @include vp-1023 {
      font-size: 20px;
      font-weight: 500;
      line-height: normal;
    }
  }

  &--h5 {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
  }

  &--h6 {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
  }

  &--h7 {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }

  &--h8 {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
  }

  &--h9 {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }

  &--h10 {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
  }

  &--mini {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.24px;
    text-transform: uppercase;
    background: $purple-to-blue;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
