mixin socials(data, withoutBorder = false)
  .socials(class=`${withoutBorder ? "socials--without-border" : ""}`)&attributes(attributes)
    ul.socials__list
      each item in data
        li.socials__item
          a.socials__link(href=item.href, aria-label=item.label, target="_blank", rel="nofollow noopener noreferrer", class=item.mod)
            +icon(item.iconName, 22, 22)
