// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2");
// }

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Chakra Petch";

  font-display: swap;
  src: url("../fonts/ChakraPetch-Light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Chakra Petch";

  font-display: swap;
  src: url("../fonts/ChakraPetch-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Chakra Petch";

  font-display: swap;
  src: url("../fonts/ChakraPetch-Medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Chakra Petch";

  font-display: swap;
  src: url("../fonts/ChakraPetch-SemiBold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Chakra Petch";

  font-display: swap;
  src: url("../fonts/ChakraPetch-Bold.woff2") format("woff2");
}
