.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));
  padding-top: var(--header-height);
  background-color: $color-grayscale-black-100;
  overflow: hidden;

  &--sitemap {
    background-color: $color-default-white;
  }

  &__bg-wave {
    position: absolute;
    width: 736px;
    height: 353px;

    @include vp-767 {
      width: 433px;
      height: 208px;
    }

    &--upper {
      top: 0;
      right: 0;
    }

    &--lower {
      bottom: 0;
      left: 0;
      transform: rotate(180deg);
    }
  }

  &__bg-grid {
    position: absolute;
    left: 50%;
    display: none;
    width: 2682px;
    height: 721px;
  }

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.wrapper--upper-grid .wrapper__bg-grid {
  top: 284px;
  transform: translateX(-2305px);
  display: block;

  @include vp-1023 {
    transform: translateX(-1720px);
  }
}

.wrapper--middle-grid .wrapper__bg-grid {
  top: 966px;
  transform: translateX(-2410px);
  display: block;

  @include vp-1023 {
    transform: translateX(-2080px);
  }
}

.rouble {
  /* stylelint-disable */
  font-weight: 400 !important;
  /* stylelint-enable */
  font-family: $ff-rouble;
  /* stylelint-disable */
  text-transform: lowercase !important;
  /* stylelint-enable */
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-transition {
  /* stylelint-disable-next-line */
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
