mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Home"
      },
      {
        href: "about-us.html",
        text: "About us"
      },
      {
        href: "service.html",
        text: "Service"
      },
      {
        href: "prices.html",
        text: "Pricing Plan"
      },
      {
        href: "blog.html",
        text: "Blog"
      },
    ]

  header.header(class=headerMods, data-header)
    .container
      .header__inner
        .header__logo-box
          +logo()
        .header__nav
          nav.main-nav
            ul.main-nav__list
              each link in headerLinks
                - const activeState = currentUrl === link.href
                li.main-nav__item(data-nav-item)
                  if (activeState)
                    span.main-nav__link.is-active= link.text
                  else
                    a.main-nav__link(href=link.href)= link.text
        .header__toggle-box
          button.btn.btn--transparent.btn--burger(type="button", aria-label="Navigation toggle button", aria-pressed="false", data-burger)
            +icon("icon-burger", 11, 8)
        .header__contact-btn-box
          +btn({href: "#footer", text: "Contact&nbsp;us", mods: ["transparent", "small"]})(data-close-menu)
