-
  const homePageAboutData = {
    subtitle: "Bring your events to&nbsp;life like never before with our&nbsp;VR services.",
    text: [
      "VRNas is&nbsp;a&nbsp;leading provider of&nbsp;VR services for education, entertainment, architecture, and events. Our mission is&nbsp;to&nbsp;bring the power of&nbsp;virtual reality to&nbsp;everyone, allowing them to&nbsp;explore new worlds, learn in&nbsp;new ways, and experience events in&nbsp;a&nbsp;whole new light.",
    ],
    parallaxIllustration: {
      mod: "about-us-left",
      light: {
        fileName: "light-2",
        width: 885,
        height: 785,
      },
      mainImage: {
        fileName: "user-2",
        width: 518,
        height: 622,
        lazyLoading: true,
      },
      extraPic: {
        fileName: "head-mounted-display-2",
        width: 196,
        height: 128,
      },
    },
    technologyList: [
      "Cutting-Edge Technology",
      "Versatile Applications",
      "Affordable and Accessible",
    ],
    readMoreBtn: true,
  }

-
  const aboutUsPageAboutData = {
    subtitle: "Bringing Your Vision to&nbsp;Life: Learn About VRNas",
    text: [
      "VRNas is&nbsp;a&nbsp;leading provider of&nbsp;VR services for education, entertainment, architecture, and events. Our mission is&nbsp;to&nbsp;bring the power of&nbsp;virtual reality to&nbsp;everyone, allowing them to&nbsp;explore new worlds, learn in&nbsp;new ways, and experience events in&nbsp;a&nbsp;whole new light.",
      "Our team consists of&nbsp;experienced&nbsp;VR developers, designers, and technicians who are passionate about&nbsp;VR and dedicated to&nbsp;delivering the highest quality work. We&nbsp;use the latest&nbsp;VR hardware and software to&nbsp;create immersive, interactive experiences that are tailored to&nbsp;your specific needs.",
      "From initial consultation to&nbsp;final delivery, we&nbsp;are committed to&nbsp;providing exceptional customer service. Our goal is&nbsp;to&nbsp;ensure that you are completely satisfied with every aspect of&nbsp;your&nbsp;VR experience.",
    ],
    parallaxIllustration: {
      mod: "about-us-right",
      light: {
        fileName: "light-2",
        width: 885,
        height: 785,
      },
      mainImage: {
        fileName: "user-6",
        width: 399,
        height: 574,
        lazyLoading: false,
      },
      extraPic: {
        fileName: "head-mounted-display-1",
        width: 196,
        height: 127,
      },
    },
  }

