-
  const homePageOurServiceData = {
    title: "Our service",
    subtitle: "Our service",
    text: "We&nbsp;use the latest&nbsp;VR hardware and software to&nbsp;create high-quality VR&nbsp;experiences that are accessible and affordable. Our goal is&nbsp;to&nbsp;provide exceptional customer service and support, and our team is&nbsp;always available to&nbsp;answer any questions and address any concerns you may have.",
    shortServiceList: false,
  }

-
  const aboutUsOurServiceData = {
    title: "Why choose us",
    subtitle: "Empowering Your Virtual Reality Experience",
    shortServiceList: true,
  }

-
  const serviceList = [
    {
      icon: "development-icon",
      title: "VR Development",
      text: "From concept to creation, our team of VR developers will bring your vision to life.",
    },
    {
      icon: "design-icon",
      title: "VR Design",
      text: "Our talented VR designers will create immersive and engaging environments that will captivate your audience.",
    },
    {
      icon: "consulting-icon",
      title: "VR Consulting",
      text: "Our VR consultants will work with you to ensure that your VR experience meets your goals and exceeds your expectations.",
    },
    {
      icon: "games-icon",
      title: "VR Games",
      text: "We offer a wide selection of VR games that are suitable for players of all ages and skill levels.",
    },
    {
      icon: "events-icon",
      title: "VR Events",
      text: "Make your next event unforgettable with our VR event services.",
    },
    {
      icon: "entertainment-icon",
      title: "VR Entertainment",
      text: "reate a VR escape room, or offer VR experiences at a theme park, we have the expertise and experience to make it happen.",
    },
  ]

-
  const shortServiceList = [
    {
      icon: "expertise-icon",
      title: "Expertise",
      text: "Our team consists of&nbsp;experienced&nbsp;VR developers, designers, and technicians who have a&nbsp;passion for&nbsp;VR and a&nbsp;commitment to&nbsp;delivering quality work and give the best service",
    },
    {
      icon: "customisation-icon",
      title: "Customization",
      text: "Every client is&nbsp;unique, and we&nbsp;believe every&nbsp;VR experience should be&nbsp;too. We&rsquo;ll work with you to&nbsp;create a&nbsp;customized solution that meets your specific needs and goals",
    },
    {
      icon: "service-icon",
      title: "Service",
      text: "We&nbsp;believe in&nbsp;providing exceptional customer service, from initial consultation to&nbsp;final delivery. Our goal is&nbsp;to&nbsp;ensure you&rsquo;re satisfied with every aspect of&nbsp;your&nbsp;VR experience.",
    },
  ]
