//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Data

include ./data/about-us-data
include ./data/service-data
include ./data/advantages-data

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/intro
include ./blocks/services
include ./blocks/about-us
include ./blocks/our-service
include ./blocks/advantages
include ./blocks/parallax
include ./blocks/video
include ./blocks/pricing
include ./blocks/partners
include ./blocks/subscribe-form
include ./blocks/page-title

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/logo
include ./mixins/title
include ./mixins/socials
include ./mixins/badge
include ./mixins/breadcrumbs
